# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**OBJECTIBVE**

+List popular languages for Data Science
+libraries used by data scientist
+data science tools

Some of the popular languages that Data Scientists use are:
Ordered list
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NUMPY
2. PANDAS
3. matplotlib

|Data science tools |
---------------------
| Rstudio |
| jupyter |
| anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integer 
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author

kushal